* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Poppins", sans-serif;
}

.navbar {
   background-color: #2f3ec5;
}

#navbar-menu .nav-item .nav-link {
   color: whitesmoke !important;
}

#navbar-menu .nav-item .nav-link:hover {
   color: whitesmoke !important;
   text-decoration: underline;
}

/* Produk Style */
#product-section #product-list-wrapper .col-12 * {
   transition: all .2s ease;
}
#product-section #product-list-wrapper .col-12:hover img {
   transform: scale(115%);
}
#product-section #product-list-wrapper .col-12:hover h2 {
   opacity: 0;
}