* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Poppins", sans-serif;
}

.navbar {
   background-color: #2f3ec5;
}

#navbar-menu .nav-item .navbar-link {
   color: white !important;
   background-color: red !important;
}